{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutra - Login</title>
    <link rel="stylesheet" href="{% static 'inicio/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'inicio/img/Logo.png' %}" alt="Logo Nutra" class="logo"> 
        <h2>Nutra - Login</h2>
        <form action="{% url 'login' %}" method="post" class="login-form">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-icon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="username" id="username" placeholder="Email">
            </div>
            <div class="input-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input type="password" name="senha" id="senha" placeholder="Senha">
            </div>
            <button href="{% url 'perfil' %}" type="submit" class="btn">Entrar</button>
        </form>
        <a href="{% url 'register' %}" class="register-link">Não tem uma conta? <span>Cadastrar</span></a>
    </div>
</body>
</html>
