{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{% static 'inicio/css/montar_treino.css' %}" />
  <title>Montar Treino - Nutra</title>
</head>
<body>
  <header>
    <h1 class="titulo">TREINOS</h1>
  </header>

  <main class="montar-container">
    <section class="exercicio">
      <button class="btn-add">+ Adicionar exercício</button>
    </section>
  </main>

  <footer>
    <nav>
      <a href="#">🏋️ Treinos</a>
      <a href="#">🍽️ Dieta</a>
      <a href="#">👤 Perfil</a>
    </nav>
  </footer>
</body>
</html>
