{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutra - Registro</title>
    <link rel="stylesheet" href="{% static 'inicio/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <a href="{% url 'login' %}" class="back-button">&#8592;</a>
        <img src="{% static 'inicio/img/Logo.png' %}" alt="Logo Nutra" class="logo"> 
        <h2>Crie sua conta</h2>
        <form action="{% url 'register' %}" method="post" class="login-form">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-icon"><i class="fa fa-user"></i></span>
                <input type="text" name="usuario" id="usuario" placeholder="Usuário">
            </div>
            <div class="input-group">
                <span class="input-icon"><i class="fa fa-phone"></i></span>
                <input type="text" name="telefone" id="telefone" placeholder="Telefone">
            </div>
            <div class="input-group">
                <span class="input-icon"><i class="fa fa-envelope"></i></span>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="input-group">
                <span class="input-icon"><i class="fa fa-lock"></i></span>
                <input type="password" name="senha" id="senha" placeholder="Senha">
            </div>
            <div class="input-group">
                <label for="confirma-senha">Confirme sua senha</label>
                <input type="password" name="confirma-senha" id="confirma-senha" placeholder="Confirme sua senha">
            </div>
            <button type="submit" class="btn">Registrar</button>
        </form>
    </div>
</body>
</html>
